@model WebAppExample.Models.CurrencyViewModel

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculate</title>
</head>
<body>
    <div>
        <form action="/" method="post" class="form-inline">
            
            @Html.DropDownListFor(n => n.FromCurrency, Model.Curnecies,  htmlAttributes: new { @class = "form-control" })

        </form>

    </div>
</body>
</html>
