################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticalExamples/bin/Debug/BinFile.dat
/PracticalExamples/bin/Debug/reminders.txt
