################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticalExamples/bin/Debug/BinFile.dat
/PracticalExamples/bin/Debug/reminders.txt
/PracticalExamples/obj/Release/PracticalExamples.csproj.FileListAbsolute.txt
/PracticalExamples/bin/Release/PracticalExamples.exe.config
/PracticalExamples/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
